<a href="https://colab.research.google.com/github/Subhranshu-123/BIKE2/blob/main/Copy_of_python_basic(subhranshu_sekhar_IIT_bhilai).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#demonstrate a function with a positional argument
print('hello,world')

hello,world

In [ ]:
#demonstrate a function with a positional argument and return value
name=input('what is your name ?')
print('hello',name)

what is your name ?sekhar
hello sekhar

In [ ]:
name=input('what is your name ?')
print('hello' + name)

what is your name ?sekhar
hellosekhar

In [ ]:
name=input('what is your name ?')
print('hello',)
print(name)

what is your name ?sekhar
hello
sekhar

In [ ]:
name=input('what is your name ?')
print('hello', sep="")
print(name)

what is your name ?sekhar
hello
sekhar

In [ ]:
name=input('what is your name ?')
print('hello,', name,sep="",end="")

what is your name ?sekhar
hello,sekhar

In [ ]:
name=input('what is your name ?')
print('hello,'+name)

what is your name ?sekhar
hello,sekhar

In [ ]:
name=input('what is your name ?').strip()
print(f"hello,{name}")

what is your name ?sekhar
hello,sekhar

In [ ]:
name=input('what is your name ?').strip().title()
print(f"hello,{name}")

what is your name ?sekhar
hello,Sekhar

In [ ]:
name=input('what is your name ?').strip().upper()
print(f"hello,{name}")

what is your name ?sekhar
hello,SEKHAR

In [ ]:
# str function
name=input('what is your name ?')
first,last=name.split(" ")
first=first.title()
last=last.upper()
print(f'hello,{first}')
print(f'hello,{last}')

what is your name ?subhranshu sekhar
hello,Subhranshu
hello,SEKHAR

In [ ]:
# demonstrate addition
x=1
y=2
print(x+y)

3

In [ ]:
print(y-x)

1

In [ ]:
print(x*y)

2

In [ ]:
print(x/y)

0.5

In [ ]:
print(x**y)

1

In [ ]:
print(x//y)

0

In [ ]:

#demonstrate (unintented) concantenation of string
x=input('what is your name ?')
y=input('what is my name ?')
#print sum
print(x+y, sep= " ")

what is your name ?subhranshu
what is my name ?sekhar
subhranshusekhar

In [ ]:
#demonstrate (unintented) concantenation of string
x=input('what is your name ?')
y=input('what is my name ?')
#print sum
print(x+y, sep= " ")

what is your name ?1
what is my name ?2
12

In [ ]:
#demonstrate  conversion  of string to int
x=input('what is your name ?')
y=input('what is my name ?')
#print sum
z=int(x)+int(y)
print(z, sep= " ")

what is your name ?1
what is my name ?2
3

In [ ]:
#demonstrate nesting concantenation of string
x=int(input('what is your name ?'))
y=int(input('what is my name ?'))
#print sum
z=x+y
print(z, sep= " ")

what is your name ?1
what is my name ?2
3

In [ ]:
#demonstrate  conversion  of string to float
x=input('what is your name ?')
y=input('what is my name ?')
#print sum
z=float(x)+float(y)
print(z, sep= " ")

what is your name ?1.0
what is my name ?2.2
3.2

In [ ]:
#demonstrate nesting concantenation of string
x=float(input('what is your name ?'))
y=float(input('what is my name ?'))
#print sum
z=x+y
print(z, sep= " ")

what is your name ?2.0
what is my name ?1.2
3.2

In [ ]:
#demonstrate nesting concantenation of string
x=float(input('what is your name ?'))
y=float(input('what is my name ?'))
#print sum
z=x+y
print(round(z))

what is your name ?22
what is my name ?3.56666
26

In [ ]:
#demonstrate nesting concantenation of string
x=float(input('what is your name ?'))
y=float(input('what is my name ?'))
#print sum
z=x+y
print(f'{z:,.2f}')

what is your name ?9.8888
what is my name ?7.7777
17.67

In [ ]:
#demonstrate nesting concantenation of string
x=float(input('what is your name ?'))
y=float(input('what is my name ?'))
#print sum
z=x/y
print(round(z),2)

what is your name ?3.4444
what is my name ?6.777
1 2

In [ ]:
#define a function
def hello ():
  print('hello')
name= input('what is your name ?')
# call a function
hello()
print(name)

what is your name ?sekhar
hello
sekhar

In [ ]:
# demonstrate a function with a parameter
def hello(to):
  print("hello,",to)
name= input('what is your name')
hello(name)

what is your namesekhar
hello, sekhar

In [ ]:
#\ demonstrate a function with a parameter with  a default value
def hello(to='world'):
  print("hello,",to)
hello()
name= input('what is your name')
hello(name)

hello, world
what is your namesekhar
hello, sekhar

In [ ]:
#define a main function
def main():
  name=input('what is your name ?')
  hello(name)
def hello(to='world'):
  print('hello ,',to)
main()

what is your name ?sekhar
hello , sekhar

In [ ]:
#define a main function
def main():
  name=input('what is your name ?')
  hello(name)
def hello(to='world'):
  print('hello ,',to)
if __name__  ==  "__main__":
   main()

what is your name ?sekhar
hello , sekhar

In [1]:
#demonstrate a function with return value
def main():
  x=int(input('what is x?'))
  print('x square is',square(x))
def square(n):
  return n*n
main()

what is x?5
x square is 25

In [2]:
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
if x<y :
  print('x is less than y')
if x==y :
  print ('x is equal to y')

what is x5
what is y8
x is less than y

In [3]:
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
if x<y :
  print('x is less than y')
if x==y :
  print ('x is equal to y')

what is x5
what is y3
x is greater than y

In [4]:
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
if x<y :
  print('x is less than y')
if x==y :
  print ('x is equal to y')

what is x5
what is y5
x is equal to y

In [5]:
# demonstrate mutually exclusive events(events that can not occur at the same time)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
elif x<y :
  print('x is less than y')
elif x==y :
  print ('x is equal to y')

what is x5
what is y8
x is less than y

In [6]:
# demonstrate conditionals(mutually exclusive)
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
elif x<y :
  print('x is less than y')
elif x==y :
  print ('x is equal to y')

what is x5
what is y3
x is greater than y

In [8]:
# demonstrate conditionals(mutually exclusive)
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
if x<y :
  print('x is less than y')
if x==y :
  print ('x is equal to y')

what is x5
what is y5
x is equal to y

In [10]:
# demonstrate fewer  conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
elif x<y :
  print('x is less than y')
else :
  print ('x is equal to y')

what is x5
what is y8
x is less than y

In [11]:
# demonstrate fewer conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
elif x<y :
  print('x is less than y')
else :
  print ('x is equal to y')

what is x5
what is y3
x is greater than y

In [13]:
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y :
  print('x is greater than y')
elif x<y :
  print('x is less than y')
else :
  print ('x is equal to y')

what is x5
what is y5
x is equal to y

In [14]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y or x<y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y8
x is not equal to y

In [15]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y or x<y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y3
x is not equal to y

In [16]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x>y or x<y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y5
x is equal to y

In [17]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x!=y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y8
x is not equal to y

In [18]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x!=y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y3
x is not equal to y

In [19]:
#demonstrate inequalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x!=y:
  print('x is not equal to y')
else :
  print ('x is equal to y')

what is x5
what is y5
x is equal to y

In [20]:
#demonstrate equalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x==y:
  print('x is equal to y')
else :
  print ('x is  not equal to y')

what is x5
what is y5
x is equal to y

In [21]:
#demonstrate equalities(logical oerator)
# demonstrate conditionals
x=int(input('what is x'))
y =int(input('what is y'))
if x==y:
  print('x is equal to y')
else :
  print ('x is  not equal to y')

what is x5
what is y8
x is  not equal to y

In [22]:
# demonstrate logical operator
x=int(input('score: '))
if x >=90 and x<=100:
  print('Grade A')
elif x>=80 and x<90:
  print('Grade B')
elif x>=70 and x<80:
  print('Grade C')
elif x>=60 and x<70:
  print('Grade D')
elif x>=50 and x<60:
  print('Grade E')
else:
  print('Grade F')

score: 56
Grade E

In [23]:
#demonstrate inequality and logical operator
x=int(input('score: '))
if 90<=x and x<=100:
  print('Grade A')
elif 80<=x and x<90:
  print('Grade B')
elif 70<= x and x<80:
  print('Grade C')
elif 60<=x and x<70:
  print('Grade D')
elif 50<=x and x<60:
  print('Grade E')
else:
  print('Grade F')

score: 68
Grade D

In [24]:
#comparison
x=int(input('score: '))
if 90<=x<=100:
  print('Grade A')
elif 80<=x<90:
  print('Grade B')
elif 70<= x<80:
  print('Grade C')
elif 60<=x<70:
  print('Grade D')
elif 50<=x<60:
  print('Grade E')
else:
  print('Grade F')

score: 73
Grade C

In [26]:
# fewer comparison
# demonstrate conditional
x=int(input('score: '))
if x >=90 :
  print('Grade A')
elif x>=80 :
  print('Grade B')
elif x>=70 :
  print('Grade C')
elif x>=60 :
  print('Grade D')
elif x>=50 :
  print('Grade E')
else:
  print('Grade F')

score: 82
Grade B

In [28]:
#demonstrate inequality and logical operator
x=int(input('score: '))
if 90<=x & x<=100:
  print('Grade A')
elif 80<=x & x<90:
  print('Grade B')
elif 70<= x & x<80:
  print('Grade C')
elif 60<=x & x<70:
  print('Grade D')
elif 50<=x & x<60:
  print('Grade E')
else:
  print('Grade F')

score: 91
Grade A

In [29]:
# compress strings
answer=input('Do you agree ?')
if answer== "yes":
   print('agreed')
elif answer== 'no':
   print('not agreed')

Do you agree ?yes
agreed

In [30]:
# compress strings
answer=input('Do you agree ?').strip()
if answer== "yes":
   print('agreed')
elif answer== 'no':
   print('not agreed')

Do you agree ?yes
agreed

In [31]:
# compress strings
answer=input('Do you agree ?').strip().lower()
if answer== "yes":
   print('agreed')
elif answer== 'no':
   print('not agreed')

Do you agree ?yes
agreed

In [34]:
# compress strings
answer=input('Do you agree ?').strip().upper()
if answer== "yes":
   print('agreed')
elif answer== 'no':
   print('not agreed')

Do you agree ?yes

In [36]:
# compress strings
answer=input('Do you agree ?')
if answer== "yes" or answer=='YEs':
  print('agreed')
elif answer== 'no' or answer =='No':
  print('not agreed')

Do you agree ?YES

In [37]:
# compress strings
answer=input('Do you agree ?')
if answer== "yes":
   print('agreed')
elif answer== 'no':
   print('not agreed')

Do you agree ?no
not agreed

In [39]:
# compress strings
answer=input('Do you agree ?')
if answer== "yes" or answer=='YEs':
  print('agreed')
elif answer== 'no' or answer =='No':
  print('not agreed')

Do you agree ?no
not agreed

In [40]:
# demonstrate module operator
x= int(input('what is x ?'))
if x%2==0:
  print('Even')
else:
  print('odd')

what is x ?6
Even

In [42]:
# demonstrate a function that returns to bool
def main():
  x=int(input('what is x?'))
  if is_even(x):
    print('Even')
  else:
    ('Odd')
def is_even(n):
   if n%2==0:
     return True
   else:
    return False
main()

what is x?6
Even

In [43]:
# demonstrate a function that returns to bool
def main():
  x=int(input('what is x?'))
  if is_even(x):
    print('Even')
  else:
    ('Odd')
def is_even(n):
     return True if n%2==0 else False
main()

what is x?6
Even

In [44]:
# demonstrate a function that returns to boolean expression
def main():
  x=int(input('what is x?'))
  if is_even(x):
    print('Even')
  else:
    ('Odd')
def is_even(n):
     return n%2==0
main()

what is x?6
Even

In [47]:
name=input('what is your name?')
if name== "rahul":
  print('Hyderabad')
elif name=='pankaj':
  print('Hyderabad')
elif name=='Gogo':
  print('Bihar')
elif name=='draco':
  print('Delhi')
else:
  print('who')

what is your name?rahul
Hyderabad

In [48]:
name=input('what is your name?')
if name== "rahul"or name== 'pankaj':
  print('Hyderabad')
elif name=='Gogo':
  print('Bihar')
elif name=='draco':
  print('Delhi')
else:
  print('who')

what is your name?pankaj
Hyderabad

In [49]:
#match case
name=input('what is your name')
match name:
  case "rahul":
    print('Hyderabad')
  case 'pankaj':
    print('Hyderabad')
  case 'Gogo':
    print('Bihar')
  case 'draco':
    print('Delhi')

what is your namerahul
Hyderabad