<a href="https://colab.research.google.com/github/Subhranshu-123/BIKE2/blob/main/Copy_of_HYPOTHESIS_TESTING_DR_VINOD_REDDY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT MODULE

In [ ]:
import pandas as pd
from scipy import stats

LOAD DATASET

In [ ]:


# Load the dataset from the specified CSV file
df = pd.read_csv('/content/students.csv')
df.dropna(subset=['gender', 'weight'], inplace=True)

DATA CLEANING AND PREPARATION

In [ ]:
# Call the function to load and clean the data
df = analyze_student_data('/content/students.csv')
# Separate the data into two groups: male and female
male_students = df[df['gender'] == 'Male']
female_students = df[df['gender'] == 'Female']

EXTRACT WEIGHT COLUMN IN EACH GROUP

# --- Hypothesis Testing ---
      
        # This test will tell us if the observed difference in mean weights is statistically significant.

        # Null Hypothesis (H0): There is no significant difference in the mean weight
        # between male and female students. (mean_male_weight = mean_female_weight)

        # Alternative Hypothesis (H1): There is a significant difference in the mean weight
        # between male and female students. (mean_male_weight != mean_female_weight)

In [ ]:
# Extract the 'weight' column for each group
male_weights = male_students['weight']
female_weights = female_students['weight']

PERFORM INDEPENDENT T - TEST

In [ ]:
# Perform the independent t-test
t_statistic, p_value = stats.ttest_ind(male_weights, female_weights)

RESULT AND INTERPRETATION

In [ ]:
# --- Results and Interpretation ---
print("--- Hypothesis Test Results ---")
print(f"T-statistic: {t_statistic:.5f}")
print(f"P-value: {p_value:.5f}")

--- Hypothesis Test Results ---
T-statistic: 77.56137
P-value: 0.00000

SET ALPHA VALUE

In [ ]:
 # Set the significance level (alpha). A common choice is 0.05.
alpha = 0.05

In [ ]:
print(f"\nSignificance level (alpha): {alpha}")

Significance level (alpha): 0.05

INTERPRETE P- VALUE BASED ON RESULT

In [ ]:
# Interpret the p-value
if p_value < alpha:
            print("\nConclusion: We reject the null hypothesis.")
            print("There is a statistically significant difference in the mean weight between male and female students.")
else:
            print("\nConclusion: We fail to reject the null hypothesis.")
            print("There is not enough evidence to suggest a statistically significant difference in the mean weight between male and female students.")

Conclusion: We reject the null hypothesis.
There is a statistically significant difference in the mean weight between male and female students.

DESCRIPTIVE STATISTICS

In [ ]:
# --- Descriptive Statistics ---
print("\n--- Descriptive Statistics ---")
print("Male Student Weights:")
print(male_weights.describe())
print("\nFemale Student Weights:")
print(female_weights.describe())

--- Descriptive Statistics ---
Male Student Weights:
count    4129.000000
mean       78.594914
std         7.665089
min        56.900000
25%        73.200000
50%        77.900000
75%        83.200000
max       116.000000
Name: weight, dtype: float64

Female Student Weights:
count    4110.000000
mean       67.375474
std         5.231759
min        51.400000
25%        63.700000
50%        67.000000
75%        70.600000
max        93.800000
Name: weight, dtype: float64

   HYPOTHESIS TESTING
    
    # This test will tell us if the observed difference in mean Heights is statistically significant.

    # Null Hypothesis (H0): There is no significant difference in the mean Height
    # between male and female students. (mean_male_Height = mean_female_Height)

    # Alternative Hypothesis (H1): There is a significant difference in the mean Height
    # between male and female students. (mean_male_Height != mean_female_Height)

EXTRACT HEIGHT COLUMN

In [ ]:
# Extract the 'height' column for each group
male_heights = male_students['height']
female_heights = female_students['height']

SET ALPHA VALUE

In [ ]:
# Set the significance level (alpha). A common choice is 0.05.
alpha = 0.05

In [ ]:
print(f"\nSignificance level (alpha): {alpha}")

Significance level (alpha): 0.05

PERFORM TEST TO KNOW P VALUE

In [ ]:
# Perform the independent t-test
t_statistic, p_value = stats.ttest_ind(male_heights, female_heights)

RESULT AND INTERPRETATION

In [ ]:
# --- Results and Interpretation ---
print("--- Hypothesis Test Results ---")
print(f"T-statistic: {t_statistic:.5f}")
print(f"P-value: {p_value:.5f}")

--- Hypothesis Test Results ---
T-statistic: 87.97575
P-value: 0.00000

PRINT RESULT

In [ ]:
# Interpret the p-value
if p_value < alpha:
            print("\nConclusion: We reject the null hypothesis.")
            print("There is a statistically significant difference in the mean height between male and female students.")
else:
            print("\nConclusion: We fail to reject the null hypothesis.")
            print("There is not enough evidence to suggest a statistically significant difference in the mean height between male and female students.")

Conclusion: We reject the null hypothesis.
There is a statistically significant difference in the mean height between male and female students.

DESCRIPTIVE STATISTICS OF HEIGHT

In [ ]:
# --- Descriptive Statistics ---
print("\n--- Descriptive Statistics ---")
print("Male Student Weights:")
print(male_heights.describe())
print("\nFemale Student Weights:")
print(female_heights.describe())

--- Descriptive Statistics ---
Male Student Weights:
count    4129.000000
mean      179.072657
std         7.988852
min       144.000000
25%       174.000000
50%       179.000000
75%       184.000000
max       206.000000
Name: height, dtype: float64

Female Student Weights:
count    4110.000000
mean      163.653285
std         7.919726
min       135.000000
25%       158.000000
50%       164.000000
75%       169.000000
max       193.000000
Name: height, dtype: float64